//Tamaño Media Queries 
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Space Mono", monospace;

//Colores

$Green400: hsl(172, 67%, 45%); 
$Green900: hsl(183, 100%, 15%);
$Grey500: hsl(186, 14%, 43%);
$Grey400: hsl(184, 14%, 56%);
$Grey200: hsl(185, 41%, 84%); 
$Grey50: hsl(189, 47%, 97%);
$White: hsl(0, 100%, 100%);

$GreenHover: #8FD3CB;
$GreenDisabled: #1F6F70;

//Tamaños fuente
$bold: 700;

